<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Pets</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>Consulta de Pets</h1>
        <form action="/consulta" method="GET">
            <label for="criterio">Selecionar critério:</label>
            <select id="criterio" name="criterio">
                <option value="nome">Nome</option>
                <option value="idade">Idade</option>
                <option value="peso">Peso</option>
            </select>
            <label for="valor">Digite a informação da busca:</label>
            <input type="text" id="valor" name="valor">
            <button type="submit">Buscar</button>
        </form>
        {% if pets is not none %}
        <h2>Resultado da Busca:</h2>
        <ul>
            {% for pet in pets %}
                <li>
                    Nome: {{ pet[1] }} - Idade: {{ pet[2] }} anos - Peso: {{ pet[3] }} kg
                    <a class="edit-button" href="/editar/{{ pet[0] }}">Editar</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Preencha o campo de busca e clique em "Buscar" para ver os resultados.</p>
        {% endif %}

        <a href="/">Voltar</a>
    </div>
</body>
</html>
