<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Pet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Cadastro de Pet</h1>
    </header>
    <main>
        <form action="/submit" method="post">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
            
            <label for="raca">Raça:</label>
            <input type="text" id="raca" name="raca" required>
            
            <label for="idade">Idade:</label>
            <input type="number" id="idade" name="idade" required>
            
            <label for="peso">Peso:</label>
            <input type="number" step="0.01" id="peso" name="peso" required>
            
            <label for="vacinado">Vacinado:</label>
            <select id="vacinado" name="vacinado">
                <option value="sim">Sim</option>
                <option value="não">Não</option>
            </select>
            
            <button type="submit">Enviar</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2024 Anjos da Rua </p>
    </footer>
</body>
</html>
